.application {
  background-color: #fff;
  padding:1.9rem 0;
  height: 50vh;
  width: 100%;

&__headline {
  color: #575757;
  font-size: 1.1rem;
}

&__align-right{
  text-align: right;
}

.inline {
  display:inline-block;
  width:30%;
  padding:1rem;
  vertical-align: top;
}

&__form {
  margin-top:3rem;
}

&__drop-down-list {
  border:0.1rem solid #8de0d2;
  width: 18rem;
  height:2.5rem;
  background-color: white;
  margin-top:1.5rem;
  padding: 0.5rem 0.7rem;
  position: relative;
}

&__list_label {
  font-size: 2rem;
  color: var(--main-background);
  font-family: 'ralewaylight', Arial, Tahoma, sans-serif;
}

&__checkbox {
  position: relative;
  padding: 2rem 2rem 2rem 0;
}

&__checkbox-input {
  display: block;
  opacity: 0;
  height: 3rem;
  position: absolute;
  width: 3rem;
  cursor: pointer;
}

&__checkbox-label {
  display: block;
  padding-left: 4rem;
  position: relative;
  font-size: 2rem;
  color: #cecece;
  line-height: 120%;
  padding-top: 0.7rem;
  cursor: pointer;
}

&__checkbox-label::before, &__checkbox-label::after {
  border: 0.05rem solid var(--main-background);
  content: "";
  display: block;
  left: 0;
  height: 3rem;
  position: absolute;
  width: 3rem;
  top: 0;
}

&__checkbox-label::after {
  background: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20preserveAspectRatio%3D%22xMidYMid%22%20width%3D%2233.875%22%20height%3D%2233%22%20viewBox%3D%220%200%2033.875%2033%22%3E%0A%20%20%3Cpath%20d%3D%22M9.470%2C15.209%20L14.061%2C24.104%20C14.061%2C24.104%2021.522%2C6.026%2033.287%2C-0.000%20C33.000%2C4.304%2031.852%2C8.035%2033.861%2C12.626%20C28.696%2C13.774%2018.078%2C26.687%2014.635%2C33.000%20C9.756%2C26.974%204.017%2C22.382%20-0.000%2C20.948%20L9.470%2C15.209%20Z%22%20fill%3D%22%2327c7ab%22/%3E%0A%3C/svg%3E%0A") no-repeat center;
  border: 0;
  display: none;
}

&__checkbox-input:checked + &__checkbox-label::after {
  display: block;
}

.active {
  background: url('../images/form_ok.jpg');
  width: 3rem;
  height: 2.5rem;
}

.inline_text {
  display: inline-block;
  width: 14.25rem;
  vertical-align: top;
  margin-top: 2rem;
  margin-left: 1rem;
  color: #aeaeae;
}

&__image-part-image{
  margin-top: 6.8rem;
  margin-left: 2.1rem;
}

&__green_bell {
  background-color: var(--main-background);
  width: 17.5rem;
  height: 0.375rem;
  display: inline-block;
  margin: 0.3rem 0 0.3rem 0;
}

&__summary-panel {
  background-color: white;
  width:100%;
  height:12.2rem;
  padding:0.6rem;
  margin-top: 3.1rem;
}

&__green-button {
  background-color: var(--main-background);
  color: white;
  text-align:center;
  text-transform: uppercase;
  width: 12.5rem;
  padding: 0.62rem 1.9rem;
  font-size: 1.5rem;
  display: inline-block;
  font-family: 'ralewaymedium', Arial, Tahoma, sans-serif;
  margin-top: 1.25rem;
  margin-left: 1.8rem;
  border-radius: 0.5rem;
  text-decoration: none;
}
&__green-button:hover{
    background: darken(#d9e2f7,5%);
    color: black;
  }

&__panel-left {
  display: inline-block;
  width: 11.6rem;
  vertical-align: top;
  padding-bottom:0.63rem;
  border-bottom:0.05rem solid #e7e7e7;
  height:  8.5rem;
}

&__panel_right {
  display: inline-block;
  width: 6.25rem;
  border-left:1px solid #e7e7e7;
  text-align: right;
  vertical-align: top;
  padding-bottom:0.63rem;
  border-bottom:0.05rem solid #e7e7e7;
  height: 8.5rem;
}

&__title {
  height: 2rem;
  color: var(--main-background);
  font-size: 1.5rem;
}

&__title--right {  
  color: var(--main-background);
  font-size: 1.25rem;
}

&__panel-left--option{
  margin-top:0.63rem;
  font-size: 1.25rem;
  color: #5b5a5a;
  display: block;
}

&__panel_right--option {
  display: block;
  font-size: 1.25rem;
  color: var(--main-background);
  margin-top:0.63rem;
}

&__sum_label{
  display: inline-block;
  width: 11.6rem;
  margin-top: 0.63rem;
  font-size: 1.4rem;
  color: #5b5a5a;
}

&__sum {
  display: inline-block;
  width: 6.25rem;
  text-align: right;
  margin-top: 0.63rem;
  font-size: 1.4rem;
  color: var(--main-background);
}

&__list_arrow {
  width: 0;
  height: 0;
  border-left: 0.94rem solid transparent;
  border-right: 0.94rem solid transparent;
  border-top: 0.94rem solid var(--main-background);
  display:block;
  position: absolute;
  right: 0.63rem;
  top: 0.94rem;
  cursor: pointer;
}

&__list-panel {
  background-color: white;
  border: 0.05rem solid #ccc;
  width: 18rem;
  padding-left: 0.94rem;
  padding-bottom: 0.63rem;
  list-style: none;
  margin: 0;
  left: 0;
  z-index: 2;
  position: absolute;
  top: 3.4rem;
  display:none;
}

&__list-panel-item--chair, &__list-panel-item--color, &__list-panel-item--material{
  margin-top:0.63rem;
  cursor: pointer;
  color: #585858;
}

.show{
  display: block;
}
}
