.form{

    background: #f4f8ff;
    height: 50vh;
    width: 100%;
   

    &__headline{
        border-bottom: 3px solid var(--main-background);
        width: 20%;
        font-size: 2rem;
        margin-bottom: 2rem;
        color: #575757;
    }

    &__place{
        position:relative;
    }

    &__application{
        display: inline-block;
    }


    &__checkbox{
        position: absolute;
        left: 55%;
       top: 60%;
       height: 3rem;
       width: 3rem;
       opacity: 0;
    }

      &__checkbox-text {        
        display: block;
        position: relative;
        font-size: 28px;
        color: #cecece;
        cursor: pointer;
        position: absolute;
        left: 70%;
        bottom: 15%;
    }

    &__checkbox-text::before, &__checkbox-text::after {
    border: 1px solid var(--main-background);
    content: "";
    display: block;
    height: 48px;
    position: absolute;
    width: 48px;
    right: 103%;
    bottom: 15%;
    }
    &__checkbox-text::after {
    background: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20preserveAspectRatio%3D%22xMidYMid%22%20width%3D%2233.875%22%20height%3D%2233%22%20viewBox%3D%220%200%2033.875%2033%22%3E%0A%20%20%3Cpath%20d%3D%22M9.470%2C15.209%20L14.061%2C24.104%20C14.061%2C24.104%2021.522%2C6.026%2033.287%2C-0.000%20C33.000%2C4.304%2031.852%2C8.035%2033.861%2C12.626%20C28.696%2C13.774%2018.078%2C26.687%2014.635%2C33.000%20C9.756%2C26.974%204.017%2C22.382%20-0.000%2C20.948%20L9.470%2C15.209%20Z%22%20fill%3D%22%2327c7ab%22/%3E%0A%3C/svg%3E%0A") no-repeat center;
    border: 0;
    display: none;
    }

    &__checkbox:checked + &__checkbox-text::after {
    display: block;
    }

    &__button{
        position: absolute;
        left: 65%;
       top: 95%;
       width: 30%;
       height: 20%;
       border-radius: 7%;
       background: var(--main-background);
       color: #fff;
       font-size: 2rem;
    }

    &__image{
        width: 30%;
        height: 60%;
        position: absolute;
        left: 70%;
       top: 10%;
    }


    &__input--name{
        width: 60%;
        height: 3rem;
        font-size: 1.5rem;
        margin-bottom: 2rem;
    }

    &__input--email{
        width: 60%;
        height: 3rem;
        font-size: 1.5rem;
        margin-bottom: 2rem;
    }

    &__textarea{
        width: 60%;
        height: 8rem;
        font-size: 1.5rem;
    }
    ::placeholder{
        color: #e2e2e2;

    }
}