.gallery{
    display: flex;

    &__box:hover{
      .gallery__caption{
        display:none;
      }
    }
    &__box{
      display: flex;
      position: relative;

      .gallery_image{
        width: 100%;
        height: 100%;
      }

      .gallery__caption{
        z-index: 1;
        font-size: 1.25rem;
        position: absolute;
        bottom: 1.25rem;
        padding-top: 1.25rem;
        padding-left: 1.25rem;
        background: white;
        opacity: 0.5;
        width: 100%;
        height:20%;

      .gallery__caption--text{
        border-bottom: 0.63rem solid var(--main-background);
        width: 57%;
      }
      }
}
      .gallery__article{
        display: flex;
        flex-direction: column;
        justify-content: center;

        .gallery__headline{
          border-bottom: 0.63rem solid var(--main-background);
          width: 50%;
          margin-top: 1.25rem;
          margin-bottom: 1.25rem;
          font-size: 1.5rem;
        }

        .gallery__text{
          margin-bottom: 1.25rem;
        }
      }
}
