.header {
  background-color: black;
  color: white;
  padding: 10px 0;


&__headline {
  font-weight: 700;
}

&__headline--text {
  color: var(--main-background);
}

&__wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

&__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

&__link {
  color: #fff;
  padding: 10px;
  text-decoration: none;
}

&__item:hover > &__submenu {
  display: block;
}

&__item {
  position: relative;
}

&__submenu {
  display: none;
  position: absolute;
  top: 240%;
  left: -25%;
  background-color: black;
}

&__submenu:before {
  content: "";
  height: 0px;
  width: 0px;
  border: 10px solid transparent;
  border-bottom: 10px solid black;
  position: absolute;
  top: -20px;
  left: calc(50% - 10px);
}

&__sublink {
  color: white;
  display: block;
  padding: 10px;
  min-width: 120px;
  text-decoration: none;
}
}
