.header {
  background-color: black;
  color: white;
  padding: 0.63rem 0;


&__headline {
  font-weight: 700;
}

&__headline--text {
  color: var(--main-background);
  text-transform: uppercase;
}

&__wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

&__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

&__link {
  color: #fff;
  padding: 0.63rem;
  text-decoration: none;
  margin-right: 0.63rem;
}

&__item:hover &__submenu {
  display: block;
  z-index: 1;
}

&__item {
  position: relative;
}

&__item :hover{
  color: #cecece;
}

&__submenu {
  display: none;
  position: absolute;
  top: 240%;
  left: -25%;
  background-color: black;
  list-style: none;
}

&__submenu:before {
  content: "";
  height: 0;
  width: 0;
  border: 0.63rem solid transparent;
  border-bottom: 0.63rem solid black;
  position: absolute;
  top: -1.25rem;
  left: calc(50% - 0.63rem);
}

&__sublink {
  color: white;
  display: block;
  padding: 10px;
  min-width: 120px;
  text-decoration: none;
}
&__sublink:hover {
  background: lighten(black,15%);
}
}
