.pricing{
  display:flex;
  align-items: flex-start;
  background: #f4f8ff;
  height: 95vh;
  width: 100%;

  &__headline{
    font-size: 40px;
    width: 25vw;
    border-bottom: 6px solid var(--main-background);
    margin-bottom: 2rem;
  }

  &__title{
    position: absolute;
    top: 10%;
    font-size: 30px;
    color: #fff;
  }

  &__basic:before{
    @include circle-big;
    background: white;
    border: 1px solid #dbe6fc;
  }

  &__basic:after{
    background: #dbe6fc;
    @include circle-small;
  }

  &__basic{
    @include box;
    border: 2px solid #dbe6fc;
    background: #f9fbff;
    position: relative;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .pricing__options:first-of-type{
      @include option1;
      top: 50%;
    }
    .pricing__options:last-of-type{
      @include option2;
      top: 58.5%;
    }

    .pricing__title{
      color: var(--main-background);
    }
  }

  &__standard:before{
    @include circle-big;
    background: var(--main-background);
    border: 2px solid var(--main-background);
  }

  &__standard:after{
    @include circle-small;
    background: #fff;
  }

  &__standard{
    @include box;
    border: 2px solid var(--main-background);
    background: var(--main-background);
    position: relative;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .pricing__options:first-of-type{
      @include option1;
      top: 50%;
      background: #fff;
    }
    .pricing__options:nth-of-type(2){
      @include option2;
      top: 58.5%;
    }
    .pricing__options:nth-of-type(3){
      @include option1;
      top: 67%;
      background: #fff;
    }
  }

  &__pro:before{
    @include circle-big;
    background: white;
    border: 1px solid #dbe6fc;
  }

  &__pro:after{
    background: #dbe6fc;
    @include circle-small;
  }

  &__pro{
    @include box;
    border: 2px solid #dbe6fc;
    background: #f9fbff;
    position: relative;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .pricing__options:first-of-type{
      @include option1;
      top: 50%;
    }
    .pricing__options:nth-of-type(2){
      @include option2;
      top: 58.5%;
    }
    .pricing__options:nth-of-type(3){
      @include option1;
      top: 67%;
    }
    .pricing__options:last-of-type{
      @include option2;
      top: 75.5%;
    }

    .pricing__title{
      color: var(--main-background);
    }
  }

  &__offer{
    border-radius: 70%;
    height: 15vh;
    width: 15vw;
    border: 2px solid #dbe6fc;
    position: absolute;
    top: 25%;

  }

  &__button{
    border-radius: 10px;
    width: 35%;
    height: 3rem;
    font-size: 30px;
    position: absolute;
    top: 90%;
  }

  &__price{
    font-size: 40px;
    position: absolute;
    top:15%;
    left: 30%;
    text-align: center;

    .pricing__month{
      font-size: 20px;
    }
  }

  &__button--greenBck{
    background: var(--main-background);
    color: #fff;
  }
  &__button--whiteBck{
    background: #fff;
    color: var(--main-background);
  }

}
