.slider{
    height: calc(100vh - 50px);
    background-image:linear-gradient( white, grey);
    display:flex;
    align-items: center;

    .slider__gallery{
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;

      .slider__image{
        background-image: url(../images/black_chair.png);
        height: 700px;
        width: 900px;
        background-size: cover;
      }
    }

}
