.slider{
    height: calc(60vh - 3.12rem);
    background-image: linear-gradient( white, #eff2f7, #c8cbd1);
    display:flex;
    align-items: center;

    .slider__gallery{
      display: flex;
      position: relative;

      .slider__image{
        display: none;
        flex-basis: 50%;
        background-size: cover;
        height: 100%;

        .slider__image-pic{
          width: 100%;
          height: 100%;
        }
      }

      .slider__article{
        flex-basis: 40%;
        display: none;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        font-size: 1.25rem;
        margin-right: 2rem;

        .slider__headline{
          color: black;
          text-transform: uppercase;
          font-size: 2.5rem;
          margin-bottom: 1.25rem;
        }

        .slider__headline--text{
          color: var(--main-background);
        }

        .slider__button--more{
          color: white;
          background: var(--main-background);
          border-radius: 0.63rem;
          font-size: 1.57rem;
          height: 3.125rem;
          width: 15.62rem;
          margin-top: 1.25rem;
        }
        .slider__button--more:hover{
    background: darken(#d9e2f7,5%);
    color: black;
  }
      }

      .slider__button--prev{
        @include button;
        left:0;
      }
      .slider__button--prev:hover{
       color:black;
      }
      .slider__button--next{
        @include button;
        right:0;
      }
      .slider__button--next:hover{
        color:black;
      }
      .visible{
      display:inline;
    }
    }   
}
