@mixin button{
  position: absolute;
  top: 35%;
  background-color: transparent;
  border: none;
  font-size: 5rem;
  margin: 1.5rem;
  color: var(--main-background);
};

@mixin box{
  height: 70vh;
  width: 20vw;
  display: flex;
  border-radius: 0.2rem;
  margin-top: 2rem;
  margin-bottom: 2.5rem;
};

@mixin circle-small{
  border-radius: 60%;
  content: "";
  position: absolute;
  bottom: 98%;
  left: 45.5%;
  z-index: 1;
  height: 2.5rem;
  width: 2.5rem;
  border:0.05rem solid grey;
};

@mixin circle-big{
  content: "";
  border-radius: 60%;
  height: 5rem;
  width: 5rem;
  position: absolute;
  bottom: 95%;
  left: 40%;
  border:0.05rem solid grey;
};

@mixin option1{
  background: #d0d9ef;
  width: 100%;
  text-align: center;
  height: 3.5rem;
  padding: 1rem;
  font-size:2rem;
  position: absolute;
};

@mixin option2{
  background: #d9e2f7;
  width: 100%;
  text-align: center;
  height: 3.5rem;
  padding: 1rem;
  font-size: 2rem;
  position: absolute;
};
